
  .navbar_brand img{
    height: 35px;
    margin-left: 70px;
  }
  .logo-header p{
   margin-left: 10px;
    margin-bottom: -30px;
    font-size: 20px;
    color: aliceblue;
  }
  @media (max-width: 768px) {
   
    .menu ul li a{

      color: aliceblue;
      text-decoration: dashed;
      font-size: 10px;
      margin-right: 8px;
      cursor: pointer;
    }
  
    .navbar.active .menu {
      display: flex;
      opacity: 1;
    }
  
  }
  
  