.card_signin {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login_form {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

.show_password {
  display: block;
  width: 8%;
  padding: 8px;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 12px;
  text-align: right;
  cursor: pointer;
}

.show_password:hover {
  color: #000;
}

.submit_login {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.submit_login:hover {
  background-image: linear-gradient(to right, #3dca2a, rgb(25, 59, 45));
}

.register_now {
  margin-top: 15px;
  text-align: center;
}

.register_now p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #777;
}

.register_now button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.register_now button:hover {
  background-image: linear-gradient(to right, #ff0000,  rgb(0, 255, 76), #fc0000);
}

